
body{
    background-image: url('king.jpeg');
    background-size: 100% 130%;
    background-repeat: no-repeat;
  }
  

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    outline: none;
    color: black;
    background-color: rgb(25, 22, 22);
}
 

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
}

.calculator{
    border: 1px solid #717377;
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);

}
input{
    grid-column: span 4;
    height: 70px;
    width: 320px;
   
    box-shadow: inset -5px -5px 12px #100b0b,
                inset 5px   5px 12px rgba(0,0,0,.16);
    border: none;            
    border-radius: 30px;
    color: rgb(70,70,70);
    font-size: 50px;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;

}
input::placeholder{
    color: #c477c4;
}

button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: #c01313;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
    cursor: pointer;
}
.button:hover{
    box-shadow: 0px 0px 5px #cc0cdd,
    0px 0px 15px #cc0cdd,0 0 20px #cc0cdd,
    0 0 25px #cc0cdd,0 0 50px #cc0cdd;

}
.equalBtn{
    background-color: #fb7c14;
}

.operator{
    color: #6dee0a;
}
